<app-navbar></app-navbar>
<mat-card class="card">
    <div class="form-component">
        <h1>Register</h1>
        <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput type="text" name="name" required ngModel>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" name="password" required ngModel>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput type="text" name="email" required="Email required" ngModel>
            </mat-form-field>
            <button mat-raised-button type="submit" [disabled]="registerForm.form.invalid"  color="primary">Register</button>
        </form> 
    </div>
    </mat-card>