<app-navbar></app-navbar>
<mat-card class="card">
    <div class="login-component">
        <h1>Log in</h1>
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput required type="text" name="email" ngModel>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput required type="password" name="password" ngModel>
            </mat-form-field>
            <div class="form-button">
                <button mat-flat-button type="submit" color="primary">Login</button>
            </div>
            <div class="form-button">
            <button mat-flat-button color="primary" (click)="navigateToRegister()"> Register </button>
            </div>
        </form> 
    </div>
    </mat-card>
